# Basic Logistic Regression Classification Example
Sales forcasting mode

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')
%matplotlib inline
DATA = './data/'

In [11]:
df = pd.read_csv(f'{DATA}UST22.csv')
df.head()

,Project ID,Opportunity Owner,Account Name,Stage,Amount,Expected Revenue,Probability,Service Category,Service Line,Stage Number,New Business,Account Type,Billing Type,MSA Signed,Unsolicited Proposal,Deliverable Type
0,1,Amandeep Sidhu,"Dana Companies, Llc",Signed Contract,7680.0,7680.0,1,NaN,Enterprise Solutions,8,0,US-Central BU,Time and Expense,0,No,Scope of Work / Project
1,2,Amandeep Sidhu,"Dana Companies, Llc",Verbal Agreement,6400.0,5760.0,1,NaN,Enterprise Solutions,7,0,US-Central BU,Time and Expense,0,No,Scope of Work / Project
2,3,Amandeep Sidhu,"Dana Companies, Llc",Verbal Agreement,3600.0,3240.0,1,NaN,Enterprise Solutions,7,0,US-Central BU,Time and Expense,0,No,Scope of Work / Project
3,4,Amandeep Sidhu,"Dana Companies, Llc",Verbal Agreement,3600.0,3240.0,1,NaN,Enterprise Solutions,7,0,US-Central BU,Time and Expense,0,No,Scope of Work / Project
4,5,Anand Nair,"Wellpoint, Inc",Signed Contract,50224.0,50224.0,1,Mainframe Systems,Technology Build Services,8,0,WellPoint BU,Flat Fee Monthly,0,No,Staff Augmentation